{{!< default}}
<header id="blog-header"{{#if @site.cover_image}} class="has-cover"{{/if}}>
	<div class="inner">
		<nav id="navigation">
			{{#if @site.logo}}
			<span class="blog-logo">
				<!-- <a href="{{@site.url}}"><img src="{{@site.logo}}" alt="Blog Logo" /></a> -->
			</span>
			{{/if}}
			{{#if @site.navigation}}
			<span id="menu-button" class="nav-button">
				<a class="menu-button"><i class="ic ic-menu"></i> Menu</a>
			</span>
			{{/if}}
		</nav>
		<h1 class="blog-name"><a href="{{@site.url}}">{{@site.title}}</a></h1>
		{{#if @site.description}}
		<span class="blog-description">Entrepreneur and founder of <a href="https://elmah.io/?utm_source=thomasardal&amp;utm_campaign=thomasardal&amp;utm_medium=blog">elmah.io</a></span>
		{{/if}}
		{{#if @site.cover_image}}
		<div class="blog-cover cover" style="background-image: url('{{img_url @site.cover_image}}');"></div>
		{{/if}}
	</div>
</header>

<section class="twitter-follow">
	<div class="inner">
		<p>
			<a href="https://twitter.com/intent/follow?ref_src=twsrc%5Etfw%7Ctwcamp%5Ebuttonembed%7Ctwterm%5Efollow%7Ctwgr%5EThomasArdal&amp;region=follow_link&amp;screen_name=ThomasArdal" class="twitter-follow-button" title="Follow @ThomasArdal on X" target="_blank">
				<img src="/assets/img/twitter-x-white.svg" alt="twitter-x" />
				<span>Follow @ThomasArdal</span>
			</a>
			<a href="https://twitter.com/intent/follow?ref_src=twsrc%5Etfw%7Ctwcamp%5Ebuttonembed%7Ctwterm%5Efollow%7Ctwgr%5Eelmah_io&region=follow_link&screen_name=elmah_io" class="twitter-follow-button" title="Follow @elmah_io on X" target="_blank">
				<img src="/assets/img/twitter-x-white.svg" alt="twitter-x" />
				<span>Follow @elmah_io</span>
			</a>
			<a href="https://twitter.com/intent/follow?ref_src=twsrc%5Etfw%7Ctwcamp%5Ebuttonembed%7Ctwterm%5Efollow%7Ctwgr%5Easpnetcore_news&region=follow_link&screen_name=aspnetcore_news" class="twitter-follow-button" title="Follow @aspnetcore_news on X" target="_blank">
				<img src="/assets/img/twitter-x-white.svg" alt="twitter-x" />
				<span>Follow @aspnetcore_news</span>
			</a>
		</p>
	</div>
</section>

<div id="index" class="container">

	<main class="content" role="main">

		{{> "loop"}}

	</main>

</div>
